<html>
  <head>
    <title>Twitter Video Downloader</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Twitter Video Downloader</h1>
    <form action="api/url" method="POST" target="_blank">
        <input id="url_input" type="url" name="url" placeholder="Pon tu link aqui" />
        <input id="submit" type="submit" value="Obtener Video" name="prueba" />
    </form>
    <img src='/public/CapturaTwittter.PNG' alt="Demostration">
  </body>
</html>